ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li {
    border: 2px solid gray;
    border-radius: 10px;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 140px;
}

li a {
    display: inline-block;
    padding: 40px 0;
    width: 100%;
    border-radius: 8px;
    background-color: #BDF;
    transition: background 1s;
}

li a:hover {
    text-decoration: none;
    background-color: #8AD;
    color: #000;
}
