
/* IMPORT FONT ASSETS */
@font-face {
    font-family: 'Cursed Timer';
    src: url(../fonts/cursed-timer.ttf);
}

/* DEFINE DEFAULT TIMER SIZE */
#timer-display {
    font-size: 75px;
    min-height: 114px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #FAFAFA;
    position: relative;
}
#timer-display-ms {
    font-size: 25px;
}

/* MODIFY TIMER SIZE FOR SCREEN */
@media only screen and (min-width: 450px) {
    #timer-display {
        font-size: 100px;
        min-height: 152px;
    }
    #timer-display-ms {
        font-size: 33px;
    }
}
@media only screen and (min-width: 700px) {
    #timer-display {
        font-size: 150px;
        min-height: 228px;
    }
    #timer-display-ms {
        font-size: 50px;
    }
}
@media only screen and (min-width: 900px) {
    #timer-display {
        font-size: 200px;
        min-height: 304px;
        border: 2px solid gray;
        border-radius: 5px;
    }
    #timer-display-ms {
        font-size: 67px;
    }
}

/* ARRANGE DISPLAY SIDE-BY-SIDE FOR HORIZONTAL SCREENS */
@media only screen and (min-aspect-ratio: 2/1) and (orientation: landscape) {
    #timer-container {
        display: flex;
    }
    #timer-display {
        flex-grow: 1;
    }
    /* #timer-control-panel {
        max-width: 210px;
    } */
}

/* ADD TIMER ANIMATION */
#timer-anim-box {
    position: absolute;
    margin: 10px;
    height: 20px;
    width: 20px;
    border: 4px solid rgba(40,40,40,0.5);
    border-radius: 5px;
    background-color: transparent;
}
#timer-anim-fill {
    height: 100%;
    width: 0%;
    background-color: rgba(40,40,40,0.5);
    border-radius: 0px;
}
#timer-anim-fill.run {
    animation: myfill 5s infinite;
}
@keyframes myfill {
    50% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
.timer-anim {
    position: absolute;
    left: 15px;
    top: 15px;
}

/* DEFINE FONT FACES */
#timer-display-min, #timer-display-sec, #timer-display-ms {
    font-family: 'Cursed Timer', 'Titillium Web', Arial, sans-serif;
}
#timer-display-signal {
    font-family: 'Titillium Web', Arial, sans-serif;
}

/* ADD COLONS */
#timer-display-min::after {
    content: ':';
}
#timer-display-ms::before {
    content: ':';
}

/* CONTROL PANEL ALIGNMENT AND SIZING */
#timer-control-panel {
    text-align: left;
    min-width: 225px;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#timer-status-container {
    font-size: 30px;
}
p {
    margin: 0;
}
#timer-control-panel svg {
    margin: 5px;
    padding: 15px;
    border: 2px solid #222;
    border-radius: 10%;
    cursor: pointer;
}
#timer-tip-panel {
    margin: 5px;
}
#timer-tip-panel p {
    text-align: left;
    font-size: 16px;
    color: #666;
    margin: 0;
    font-style: italic;
}

/* BUTTON COLORS */
#play-button, #pause-button {
    background: #BFB;
}
#stop-button {
    background: #FBB;
}
#mute-button {
    background: #EEA;
}
#preview-button {
    background: #EBF;
}
#play-button:hover, #pause-button:hover {
    background: #6D6;
}
#stop-button:hover {
    background: #D66;
}
#mute-button:hover {
    background: #DD6;
}
#preview-button:hover {
    background: #C7C;
}

/* PREVIEW META TEXT */
#timer-preview-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#timer-preview-meta {
    display: inline-block;
    text-align: center;
    background-color: rgba(120,120,120,0.4);
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 10px 25px;
    margin: 0 10px;
}